
  .imagedev{
    transition:all 0.1s ease-in-out;

  }
  .imagedev:hover{
    transform: scale(1.1, 1.1);

  }
  .imagedev:focus{
    transform: scale(1.1);
  }
  .imagedev:mouseover{
    transform: scale(1.1);

  }
 .select {
    display: flex;
}

 .select > div {
    width: 100%;
}

 .select .price {
    color: #FF4136;
    direction: ltr;
     text-align: right;
}

 .select .get {
    color: #0074D9;
    direction: ltr;
}
