
 .toolbar-background-md

{
background: #FF4136;
}


 .toolbar-title-md {
    color: #FFF !important;
    direction: rtl !important;

    font-family: 'Cairo', sans-serif;
    justify-content: center;
    align-items: center;
}

 .toolbar-title-md p{
margin: 0 5px;
display: inline-block;
}



 .header-content .content {
    width: 100%;
    position: relative;
    text-align: center;
    
}


 .logorreg {
    display: flex;
    align-items: center;
    direction: rtl;
}

 .header-content .content .inputs button:first-child {
    padding: 20px;
    display: block;
    border: 1px solid #fffa65 !important;
    color: #fffa65;
    font-family: 'Cairo', sans-serif;
    float: right;
}



 .header-content .content .inputs h2 {
font-family: 'Cairo', sans-serif;
margin-top: 20px;
border-bottom: 1px dashed #fffa65;
display: inline-block;
color: #fffa65;
padding-bottom: 8px;
padding-right: 10px;
padding-left: 10px;
margin-bottom: 20px;
}

 .header-content .content .inputs input {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    padding: 14px;
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 3px;
    background-color: transparent;
}

 .email,  .pass,  .name {
    margin-bottom:10px;
    position: relative;
}


 .inputs i {
    position: absolute;
    top: 20px;
    color: #FF4136;
}

 .logorreg p {
    width: 100%;
    font-family: 'Cairo', sans-serif;
    font-size: 17px;
    margin: 0;
    height: 100%;
}


.loginview {
    display: none;
}

.dirion {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
   
}

 .micon{
    display: inline-block;
    border: 1px dashed;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    line-height: 130px;
    font-size: 31px;
    color: #fffa65;
}



 .content{
padding: 16px;
}


  .myimage {
    height: 250px;
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffa65;
    width: 100%;
    border: 1px dashed #CCC;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 20px;
}

 .imagedev {
    margin-bottom: 10px;
    border: 1px dashed #CCC;
}

  .myimage p {
    margin: 0;
}


page-user-pr .logbut {
    text-align: center;
    margin-top: 30px;
}

page-user-pr .logbut p{
    margin-top: 10px;
}

page-user-pr .logbut p > span {
    color: #fffa65;
}